Group_Pilots.xlsx
__pycache__/KartManagement.cpython-312.pyc
__pycache__/Main.cpython-312.pyc
gui.spec
build/Gui/Analysis-00.toc
build/Gui/base_library.zip
build/Gui/EXE-00.toc
build/Gui/Gui.pkg
build/Gui/PKG-00.toc
build/Gui/PYZ-00.pyz
build/Gui/PYZ-00.toc
build/Gui/warn-Gui.txt
c
